body {
    color: black;
}

.content {
    width: 50vw;
    max-width: calc(50vw - 48px);
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
/* ========= Search ========== */
.title {
    margin-top: 60px;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}

.row-top-sea {
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    position: relative;
    padding: 1.5rem 2rem;
    /* background-color: #2f3136; */
    background-color: #e1e1e4;
    border-radius: 1rem;
}

.sea-input {
    /* margin-left: 80px; */
    width: 270px;
    font-size: 1.6rem;
    font-weight: 500;
    height: 25px;
    padding: 1.5rem;
    padding-left: 5rem;
    border-radius: 5px;
    border: 2px solid black;
    transition: all 1s ease-out;
    margin-right: 20px;
}

.sea-input:focus {
    width: 450px;
    transition: all 1s ease-out;
    outline: none;
}

.search {
    position: absolute;
    top: 28px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    z-index: 3;
}

.setting {
    /* margin-right: 80px; */
    position: relative;
}

.wrap-setting {
    /* background-color: #000a200d; */
    background-color: #f2f2f3;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting-in {
    width: 2.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate0 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.rotate360 {
    animation: rotate360 0.5s ease-in-out;
}

.rotate0 {
    animation: rotate0 0.5s ease-in-out;
}

.opitions {
    position: absolute;
    margin-top: 8px;
    padding: 8px 13px;
    /* background-color: #272727; */
    border-radius: 7px;
    box-shadow: 0px 1px 3px #0000000a, 0px 6px 16px #0000001f;
    outline: 2px solid #0000;
    background-color: white;
}

.opition {
    /* color: #eff1f6bf; */
    color: #262626bf;
    padding: 5px;
}

.opition:hover {
    /* background-color: #ffffff12; */
    background-color: #000a200d;
    border-radius: 5px;
    color: #262626bf;
}

.check-pre {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border: 2px solid #7a7a7a;
    background: rgba(0, 0, 0, 0);
    border-radius: 4px;
    transition: all 0.15s ease-out;
}

.check-pre i,
.check i {
    opacity: 0;
    color: white;
    padding: 0;
    margin: 0;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border: 2px solid #7a7a7a;
    background: rgba(0, 0, 0, 0);
    border-radius: 4px;
    transition: all 0.15s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-pre .is-success {
    border-color: rgba(10, 132, 255, 1);
    background-color: rgba(10, 132, 255, 1);
}

.is-complete {
    background-color: #b8efc9 !important;
    transition: all 0.4s ease-out;
}

.row-vid .is-success {
    border-color: #5c605e;
    background-color: #5c605e;
}

.is-success {
    border-color: #48c78e;
    background-color: #48c78e;
}

.premium {
    color: gold;
}

/* =========== Table ========== */
table {
    margin-top: 100px;
    width: 100%;
    padding: 10px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
        Arial, sans-serif;
}

table a {
    color: black;
}

table .center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-prb {
    justify-content: flex-start !important;
    align-items: flex-start;
    font-weight: 500;
    font-size: 1.7rem;
}

th {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1.2rem;
    padding-bottom: 3rem;
}

th .prb {
    text-align: left;
}

tr {
    /* border-bottom: 1px solid #5e5e5e; */
    transition: all 0.4s ease-out;
}

thead tr {
    border-bottom: 0.5px solid #5e5e5e;
    transition: all 0.4s ease-out;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:nth-child(even) {
    background-color: rgba(247, 248, 250, 1);
}

td {
    padding: 1.8rem;
    font-size: 1.6rem;
}

.easy {
    color: rgba(0, 184, 163, 1);
    font-weight: 500;
}

.medium {
    color: rgba(255, 192, 30, 1);
    font-weight: 500;
}

.hard {
    color: rgba(255, 55, 95, 1);
    font-weight: 500;
}

td.acc {
    font-weight: 500;
    font-size: 1.7rem;
}

tbody tr:first-child {
    position: relative;
    z-index: 1;
}

/* =========== Nav Table ========== */
.nav-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.nav-table img {
    width: 2rem;
    height: 2rem;
}

.nav-table .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
    font-size: 1.7rem;
    border-radius: 6px;
}

.nav-table .nav-btn + .nav-btn {
    margin-left: 20px;
}

.nav-table .btn-mid {
    padding-right: 10px;
    padding-left: 10px;
}
/* =========== Filter Topic ========== */

.name-topic {
    color: #262626bf;
}

.topics .search-topics {
    position: absolute;
    top: 27px;
    left: 40px;
    color: #262626bf;
    z-index: 3;
}

.sea-topic {
    position: relative;
    margin-top: 10px;
    width: 260px;
    font-size: 1.6rem;
    font-weight: 500;
    height: 20px;
    padding: 1.5rem;
    padding-left: 5rem;
    border-radius: 5px;
    transition: all 0.4s ease-out;
    background-color: #f2f2f3;
    outline: 2px solid #0000;
    outline-offset: 2px;
    border-style: none;
}

.row-fil {
    gap: 5px;
}

.wrap-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 1.3rem;
    background-color: #f2f2f3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.topics .wrap-name img {
    transition: all 0.3s ease;
}

.topics {
    width: 140px;
}

.topics .wrapall {
    width: 300px;
    height: 300px;
    position: absolute;
    margin-top: 8px;
    padding: 10px 13px;
    border-radius: 7px;
    box-shadow: 0px 1px 3px #0000000a, 0px 6px 16px #0000001f;
    outline: 2px solid #0000;
    z-index: 2;
    background-color: white;
    overflow: auto;
}

.wrapall .center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topics .wrap {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    gap: 10px;
}

.topic {
    margin-top: 5px;
    background-color: #f2f2f3;
    display: inline-block;
    padding: 5px 10px;
    color: #3c3c4399;
    border-radius: 8px;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.topic:hover {
    background-color: #000a201a;
}

.is-opition {
    background-color: #29d657;
    color: white;
}

.is-opition:hover {
    background-color: #42af5f;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.show {
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease;
}
/* =========== Reset ========== */
.tags {
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.tags-contain {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 39px;
}

.topic-selec {
    margin-top: 5px;
    background-color: #f2f2f3;
    display: inline-block;
    padding: 5px 10px;
    color: #3c3c4399;
    border-radius: 8px;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 5px;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background-color: #f2f2f3;
    border-radius: 8px;
    padding: 0.7rem 1.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.reset:hover {
    background-color: #d8d8d8;
}

.wrap-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.wrap-i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 4px;
    background-color: #3c3c434d;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.wrap-i:hover {
    color: #d2d2d4;
    /* color: #f8f8f899; */
    background-color: #45454799;
    /* background-color: #3c3c4399; */
    transition: all 0.3s ease;
}

.wrap-reset i {
    font-size: 1.3rem;
}

/* =========== Diff ========== */
.diff {
    width: 100px;
}

.opitions-diff {
    position: absolute;
    margin-top: 8px;
    padding: 8px 13px;
    /* background-color: #272727; */
    border-radius: 7px;
    box-shadow: 0px 1px 3px #0000000a, 0px 6px 16px #0000001f;
    outline: 2px solid #0000;
    background-color: white;
}

.opition-diff {
    /* color: #eff1f6bf; */
    color: #262626bf;
    padding: 5px;
}

.opition-diff:hover {
    /* background-color: #ffffff12; */
    background-color: #000a200d;
    border-radius: 5px;
    color: #262626bf;
}

.diff img {
    transition: all 0.3s ease;
}
/* =========== Status ========== */
.status {
    width: 150px;
}

.opitions-status {
    position: absolute;
    margin-top: 8px;
    padding: 8px 13px;
    /* background-color: #272727; */
    border-radius: 7px;
    box-shadow: 0px 1px 3px #0000000a, 0px 6px 16px #0000001f;
    outline: 2px solid #0000;
    background-color: white;
}

.opition-status {
    /* color: #eff1f6bf; */
    color: #262626bf;
    padding: 5px;
}

.opition-status:hover {
    /* background-color: #ffffff12; */
    background-color: #000a200d;
    border-radius: 5px;
    color: #262626bf;
}

.status img {
    transition: all 0.3s ease;
}

/* =========== Circle Graph ========== */
.body {
    display: flex;
    justify-content: space-around;
}

.sidebar-left {
    position: sticky;
    top: 60px;
    margin-top: 170px;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    display: flex;
    top: 100px;
    padding: 20px;
    width: 20%;
    min-width: 290px;
    max-width: 450px;
    max-height: 500px;
    min-height: 400px;
    height: 100%;
    background-color: #eef0f1;
    z-index: 5;
    border-radius: 0 20px 20px 0;

}


.sidebar-left .sub-title {
    margin-top: 30px;
    font-size: 2.5rem;
    font-weight: 600;
}
