body {
    color: black;
}

.content {
    width: 50vw;
    max-width: calc(50vw - 48px);
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
/* ========= Search ========== */
.title {
    margin-top: 60px;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}

.row-top-sea {
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    position: relative;
}

.sea-input {
    margin-left: 150px;
    width: 270px;
    font-size: 1.6rem;
    font-weight: 500;
    height: 25px;
    padding: 1.5rem;
    padding-left: 5rem;
    border-radius: 5px;
    border: 2px solid black;
    transition: all 0.4s ease-out;
}

.sea-input:focus {
    width: 450px;
    transition: all 0.4s ease-out;
}

.search {
    position: absolute;
    top: 10px;
    left: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

.setting {
    margin-right: 150px;
    position: relative;
}

.setting-in {
    padding: 5px;
    width: 30px;
    background-color: #272727;
    border-radius: 5px;
}

.opitions {
    position: absolute;
    margin-top: 5px;
    padding: 8px 13px;
    background-color: #272727;
    border-radius: 7px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.opition {
    color: #eff1f6bf;
    padding: 5px;
}

.opition:hover {
    background-color: #ffffff12;
    border-radius: 5px;
    color: white;
}

.check-pre {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border: 2px solid #7a7a7a;
    background: rgba(0, 0, 0, 0);
    border-radius: 4px;
    transition: all 0.15s ease-out;
}

.check-pre i,
.check i {
    opacity: 0;
    color: white;
    padding: 0;
    margin: 0;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border: 2px solid #7a7a7a;
    background: rgba(0, 0, 0, 0);
    border-radius: 4px;
    transition: all .15s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.check-pre .is-success {
    border-color: rgba(10, 132, 255, 1);
    background-color: rgba(10, 132, 255, 1);
}

.is-complete {
    background-color: #b8efc9;
    transition: all 0.4s ease-out;
}

.row-vid .is-success {
    border-color: #5c605e;
    background-color: #5c605e;
}

.is-success {
    border-color: #48c78e;
    background-color: #48c78e;
}

.premium {
    color: gold;
}

/* =========== Table ========== */
table {
    margin-top: 100px;
    width: 100%;
    padding: 10px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
        Arial, sans-serif;
}

table a {
    color: black;
}

table .center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-prb {
    justify-content: flex-start !important;
    align-items: flex-start;
    font-weight: 500;
    font-size: 1.7rem;
}

th {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1.2rem;
    padding-bottom: 3rem;
}

th .prb {
    text-align: left;
}

tr {
    border-bottom: 1.5px solid #5e5e5e;
    transition: all 0.4s ease-out;
}

thead tr {
    border-bottom: 2px solid #5e5e5e ;
    transition: all 0.4s ease-out;
}

td {
    padding: 1.8rem;
    font-size: 1.6rem;
}

td .easy {
    color: rgba(0, 184, 163, 1);
    font-weight: 500;
}

td .medium {
    color: rgba(255, 192, 30, 1);
    font-weight: 500;
}

td .hard {
    color: rgba(255, 55, 95, 1);
    font-weight: 500;
}

td.acc {
    font-weight: 500;
    font-size: 1.7rem;
}