/* PC */
@media screen and (min-width: 992px) {
}

/* Tablet & mobile */
@media screen and (max-width: 991.98px) {
    /* ========= Row User Profile ========== */
    .row {
        width: 100%;
    }
    main .row-top {
        gap: 15px;
    }
    .wrap-goalall {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .user-profile {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .row-challen-streak .challenge .center-prb {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-clamp: 1;
        height: 25px;
        line-height: 1.4;
    }
    .user-streak .desc p {
        text-align: center;
        line-height: 1.5;
    }
    .ranking-wrapall {
        margin-top: 30px;
        min-width: 100%;
        max-width: 100%;
        padding: 1rem;
    }
    .ranking{
        justify-content: space-evenly;
    }
    
    wrap-graph{
        width: 100%;
        height: 100%;
    }
    canvas {
        width: 155px !important;
        height: 180px !important;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */
@media screen and (max-width: 767px) {
    
    .sub-title{
        font-size: 1.9rem
    }
    .row-top{
        flex-direction: column-reverse;
    }
    .avatar-user{
        width: 80px;
        height: 80px;
    }
    .avatar-user img{
        width: 80px;
    } 
    .user-level{
        font-size: 1.5rem;
    }
    .user-profile .bold{
        font-size: 1.6rem;
    }
    .user-profile .rank{
        font-size: 1.6rem;
    }
    .row-challen-streak {
        flex-direction: column-reverse;
    }
    .rank-label .hard, .rank-label .medium, .rank-label .easy{
        display: none;
        
    } 
    .wrap-pro{
        min-width: 80px;
    }
    .user-profile{
        padding: 1rem 2rem;
        padding-bottom: 2.5rem;
    }
    .wrap-in-pro{
        gap: 30px;
    }
    .wrap-pro{
        font-size: 1.3rem;
    }
    .wrap-pro span{
        font-size: 1rem;
    }
    .wrap-in-pro + .wrap-in-pro {
        margin-top: 10px;
    }
    .wrap-streak .wrap-img img{
        width: 50px;
    }
    .wrap-streak .number-day {
        font-size: 3rem;
    }
    .user-streak .desc p{
        font-size: 1.5rem;
    }
    .user-streak .subject{
        font-size: 1.5rem;
    }
    .wrap-achie{
        width: 50px;
        height: 50px;
    }
    .wrap-achie-user img{
        max-width: 40px;
    }
    .challenge th{
        font-size: 1.4rem;
        line-height: 1.4;
    }
    
    .challenge .center-prb{
        font-size: 1.3rem;
        max-height: 20px;
    }
    .challenge td{
        font-size: 1.3rem;
    }
    .btn-challen span{
        font-size: 1.3rem;
    }
    .rank-label span {
        font-size: 1.3rem;
        line-height: 1.3;
    }
    .rank-label .info{
        min-width: 110px;
    }
    .ranking .quantity{
        display: none;
    }
    .up{
        max-width: 10px;
    }
    .amount-up{
        font-size: 1rem;
    }
    .number, .ranking-fix{
        min-width: 59px;
    }
    .wrap-avatar .avt-rank{
        width: 50px;
    }
    .wrap-avatar{
        width: 53px;
    }
    .ranking-crown img{
        transform: translateX(-100%);
    }
    .ranking-avartar{
        min-width: 74px;
    }
    .ranking-name{
        font-size: 1.5rem;
    }
    .passed{
        font-size: 1.1rem;
    }
}
