/* PC */
@media screen and (min-width: 992px) {
}

/* Tablet & mobile */
@media screen and (max-width: 991.98px) {
    /* ========= Row User Profile ========== */
    .row {
        width: 100%;
    }
    main .row-top {
        gap: 15px;
    }
    .wrap-goalall {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .user-profile {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .row-challen-streak .challenge .center-prb {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-clamp: 1;
        height: 25px;
        line-height: 1.4;
    }
    .user-streak .desc p {
        text-align: center;
        line-height: 1.5;
    }
    .ranking-wrapall {
        margin-top: 30px;
        min-width: 100%;
        max-width: 100%;
        padding: 1rem;
    }

    wrap-graph {
        width: 100%;
        height: 100%;
    }
    canvas {
        width: 155px !important;
        height: 170px !important;
    }
    
    .rank-table td{
        padding: 0.5rem 1rem;
        padding-top: 2rem;
    }
    .rank-table th  {
        padding: 1.3rem;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (min-width: 415px) and (max-width: 737px) {
    .wrap-streak {
        justify-content: center;
    }
    .wrap-achie-user {
        justify-content: center;
        gap: 20px;
    }
    .user-streak .subject {
        font-size: 2rem;
        text-align: center;
    }
}
/* Mobile */
@media screen and (max-width: 767px) {
    .sub-title {
        font-size: 1.9rem;
    }
    .row-top {
        flex-direction: column-reverse;
    }
    .avatar-user {
        width: 80px;
        height: 80px;
    }
    .avatar-user img {
        width: 80px;
    }
    .user-level {
        font-size: 1.5rem;
    }
    .user-profile .bold {
        font-size: 1.6rem;
    }
    .user-profile .rank {
        font-size: 1.6rem;
    }
    .row-challen-streak {
        flex-direction: column-reverse;
    }
    .rank-label .hard,
    .rank-label .medium,
    .rank-label .easy {
        display: none;
    }
    .wrap-pro {
        min-width: 80px;
    }
    .user-profile {
        padding: 1rem 2rem;
        padding-bottom: 2.5rem;
    }
    .wrap-in-pro {
        gap: 30px;
    }
    .wrap-pro {
        font-size: 1.3rem;
    }
    .wrap-pro span {
        font-size: 1rem;
    }
    .wrap-in-pro + .wrap-in-pro {
        margin-top: 10px;
    }
    .wrap-streak .wrap-img img {
        width: 50px;
    }
    .wrap-streak .number-day {
        font-size: 3rem;
    }
    .user-streak .desc p {
        font-size: 1.5rem;
    }
    .user-streak .subject {
        font-size: 1.5rem;
    }
    .wrap-achie-user img {
        max-width: 45px;
        height: 100%;
    }
    .challenge th {
        font-size: 1.4rem;
        line-height: 1.4;
    }

    .challenge .center-prb {
        font-size: 1.3rem;
        max-height: 20px;
    }
    .challenge td {
        font-size: 1.3rem;
    }
    .btn-challen span {
        font-size: 1.3rem;
    }
    .rank-table th{
        padding: 1rem;
        font-size: 1.3rem;
    }
    .avt-rank{
        width: 45px;
    }
    .top1-rank{
        width: 49px;
        height: 49px;
    }
    .top2-rank{
        width: 49px;
        height: 49px;
    }
    .top3-rank{
        width: 49px;
        height: 49px;
    }
    .ranking-name{
        font-size: 1.2rem;
    }
    .passed{
        font-size: 1.3rem;
    }
    .number{
        font-size: 1.7rem;
    }
    .rank-table .center.quantity {
        display: none;
    }
    th.hard, th.medium,th.easy{
        display: none;
    }
    .fix-rank .amount-up{
        font-size: 1.1rem;
    }
    .ranking-wrapall {
        padding-bottom: 50px;
    }
    th:nth-child(7), th:nth-child(6), th:nth-child(6){
        display: none !important;
    }
    td:nth-child(7), td:nth-child(6), td:nth-child(6){
        display: none !important;
    }
}

@media screen and (max-width: 330px) {
    .challenge th {
        padding: 0.7rem;
        font-size: 1.3r em;
    }
    .challenge td {
        padding: 0.7rem;
        font-size: 1rem;
    }
    .check {
        width: 10px;
        height: 10px;
        border-radius: 2px;
        border: 1.5px solid black;
    }
    .btn-challen span {
        font-size: 1rem;
        padding: 1rem;
        border-radius: 10px;
    }
    
    .challenge-day {
        padding: 1.5rem;
    }
    
    .wrap-streak .wrap-img img{
        width: 40px;
    }
    .wrap-achie-user img {
        max-width: 45px;
        height: 100%;
        margin-left: -15px;
    }
    
    
}
@media screen and (max-width: 390px){
    .rank-table th:nth-child(1){
        white-space: normal;
    }
    .rank-table th:nth-child(2){
        white-space: normal;
    }
    .menu-drawer .row{
        gap: 60px;
    }
}
