body,html {
    overflow: hidden;
}

main {
    background-color: rgb(33, 32, 32);

}
.view {
    /* display: flex;
    justify-content: center;
    height: calc(100vh - 79px);
    width: 100vw; */
    background-color: rgb(33, 32, 32);
    /* background-color: rgb(33, 32, 32); */
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px) ;
    cursor: grab;
}


.view svg {
    height: auto;
    margin-left: 50%;
    transform: translateX(-20vw) ;
    background-color: rgb(33, 32, 32);
    position: relative;
    z-index: 100;
    
}

.line {
    fill: rgb(33, 32, 32);
}

.box {
    width: 200px; /* Kích thước cho foreignObject */
    height: 70px;
}

.card {
    height: 62px;
    background-color: rgb(63, 75, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    border-radius: 12px;
}
.map {
    width: 100%;
}
.subject {
    padding: 5px;
    color: white;
    font-weight: 500;
}

progress {
    -webkit-appearance: none;
    background-color: #fff;
    height: 6px;
    border-radius: 999px;
}

progress::-webkit-progress-bar {
    background-color: #fff; /* Màu nền của thanh tiến độ */
    -webkit-appearance: none;
    height: 6px;
    border-radius: 999px;
}

progress::-webkit-progress-value {
    background-color: #4caf50; /* Màu của thanh tiến độ */
    border-radius: 999px;
}
/* ========= Tab ========= */
.wrap-all {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000080;
    z-index: 800;
    visibility: hidden;
}
.tab {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 70%;
    background-color: #fff;
    padding: 20px 40px;
    z-index: 1000;
    background-color: #2b2929;
    /* color : white */
    overflow: auto;
    padding-bottom: 100px;
    opacity: 0;
    visibility: hidden;
    transform: translate(100%);
}

.content-tab {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.tab .esc {
    top: 30px;
    left: 40px;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1.8rem;
    background-color: #fff;
    color: rgb(33, 32, 32);
    position: absolute;
    font-weight: 600;
}

.tab .title {
    margin-top: 20px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
}

.row {
    display: flex;
    align-items: center;
}
.wrap {
    margin-left: auto;
    margin-right: auto;
    
    
}

.row-vid {
    padding: 10px 30px 10px 20px;
    width: 600px;
    background-color: #202225;
    justify-content: space-between;
    border-radius: 10px;
}

.row-vid + .row-vid {
    margin-top: 10px;
}

.wrap-vid {
    position: absolute;
    left: 15%;
    height: 225px;
    transform: translateY(100%); /* Ẩn video bằng cách dịch xuống dưới */
    transition: transform 0.5s ease-in-out;
}

.wrap-vid iframe {
    width: 400px;
    height: 225px;
    margin: 20px 30px 10px;
    transition: all 0.4s ease-in-out;
    visibility: hidden;
}

.wrapall-vid {
    position: relative;
    height: 67px;
    z-index: 100000000;
}
.wrap-row-vid {
    box-shadow: 0 0.5em 1em -0.125em #0a0a0a1a, 0 0 0 1px #0a0a0a05;
    background-color: #202225;
    border-radius: 10px;
    position: relative;
    height: 57px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.wrap-row-vid:hover {
    height: 300px; /* Mở rộng vùng chứa khi hover */
    transform-origin: bottom; /* Điểm gốc của phép biến đổi nằm ở phía dưới */
    transition: transform 0.5s ease-in-out, height 0.5s ease-in-out;
    position: absolute;
}

.wrap-row-vid:hover iframe {
    visibility: visible;
}

.wrap-row-vid:hover .wrap-vid {
    transform: translateY(17%);
}

.wrap-row-vid .row-vid {
    position: relative;
    z-index: 10000;
}

.colum {
    margin: 80px auto 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.colum .desc {
    font-size: 2rem;
    font-weight: 500;
}

.colum .vid {
    width: 300px;
    padding: 10px 20px;
    gap: 50px;
    align-items: center;
    display: flex;
    background-color: #0c0c0c6a;
    border-radius: 7px;
    justify-content: space-between;
}

.colum .name {
    font-size: 1.7rem;
    font-weight: 500;
}

.colum .play {
    border-radius: 4px;
}

.colum .name {
    margin-left: 10px;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border: 2px solid #7a7a7a;
    background: rgba(0, 0, 0, 0);
    border-radius: 4px;
    transition: all 0.15s ease-out;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.check-pre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border: 2px solid #7a7a7a;
    background: rgba(0, 0, 0, 0);
    border-radius: 4px;
    transition: all 0.15s ease-out;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.check-pre i,
.check i {
    opacity: 0;
    color: white;
    padding: 0;
    margin: 0;
}

.is-complete {
    background-color: #214b52;
}

.row-vid .is-success {
    border-color: #5c605e;
    background-color: #5c605e;
}

.is-success {
    border-color: #48c78e;
    background-color: #48c78e;
}
/* 
.row .sub-row {
    margin: 20px 0 40px;
    display: flex;
    gap: 50px;
    margin-left: 60px;
}

.row .sub-row + .sub-row {
    margin-left: 200px;
}

.row .sub-row p {
    font-size: 1.9rem;
    font-weight: 500;
    letter-spacing: 1.4;
    
}

.row-top-table {
    border-top: 2px solid rgb(137, 133, 133);
    margin-left: auto;
    margin-right: auto;;
} */

/* ========= Table ========= */
table {
    width: 100%;
    padding: 10px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
        Arial, sans-serif;
}

table .center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-prb {
    justify-content: flex-start !important;
    align-items: flex-start;
    font-weight: 500;
    font-size: 1.7rem;
}

th {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1.2rem;
}

th .prb {
    text-align: left;
}

tr {
    border-bottom: 2px solid #5e5e5e;
}

td {
    padding: 1.8rem;
    font-size: 1.6rem;
}

td .easy {
    color: rgba(0, 184, 163, 1);
    font-weight: 500;
}

td .medium {
    color: rgba(255, 192, 30, 1);
    font-weight: 500;
}

td .hard {
    color: rgba(255, 55, 95, 1);
    font-weight: 500;
}
/*  ========= Tab ========= */
/* ẩn */
.off {
    visibility: hidden;
    opacity: 0;
    transform: translate(100%);
    transition: all 0.4s ease;
}
/* hiện  */
.active {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
    transition: all 0.4s ease;
}

main {
    overflow: hidden;
}
