* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    color: white;
}

/* ========= Common ========== */
a {
    text-decoration: none;
    color: white;
    user-select: none;
    cursor: pointer;
}

.content {
    width: 70vw;
    max-width: calc(70vw - 48px);
    min-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    color: white;
    font-size: 2.6rem;
    padding-top: 4px;
    font-family: "ITC Bauhaus";
    user-select: none;
    cursor: pointer;
}

.bold {
    color: black;
    font-weight: 500;
    font-size: 1.9rem;
}

.cursor {
    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
}

progress {
    -webkit-appearance: none;
    background-color: #fff;
    height: 6px;
    border-radius: 999px;
}
/* ========= Navbar ========== */
header {
    /* background-color: #282366; */
    /* background-color: #2b2b2b; */
    background: #272727;
    color: white;
    padding-top: 10px;
    position: sticky;
    top: -10px;
    z-index: 100;
}

.navbar {
    display: flex;
    padding: 12px 0;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 3rem;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 25px;
    /* margin-left: 170px; */
}

.navbar ul a {
    position: relative;
    font-size: 1.7rem;
    font-weight: 400;
    padding: 8px 14px;
    margin-left: 20px;
    letter-spacing: 1.5;
}

.navbar ul > li > a::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 3px;
    background-color: #fff;
    border-radius: 999px;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    bottom: 0;
    left: 10%;
}

.navbar ul > .premium > a::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 3px;
    background-color: gold;
    border-radius: 999px;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    bottom: 0;
    left: 10%;
}

.navbar li:hover > a::before {
    transform: scaleX(0.5);
}

.navbar .premium {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    height: 40px;
    width: 40px;
    background-color: #ffd90063;
    border-radius: 50%;
}
.navbar .premium:hover{
    background-color: #ffd90088;
    transition: all .2s linear;
}

.navbar .actions {
    display: flex;
    align-items: center;
    /* margin-left: auto; */
}

.navbar .action-link {
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 18px;
}

.navbar .action-btn {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
    color: black;
    background-color: white;
    transition: background-color 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar .action-btn:hover {
    background-color: #d8d5d5;
}
/* ========= Footer ========== */
footer {
    padding: 50px 0 58px;
    margin-top: 200px;
    background-color: #272727;
    color: #969393
}

footer .row {
    display: flex;
}

footer .row-top {
    gap: 185px; 
    /* justify-content: space-between; */
}

footer .heading {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

footer .list,
footer .desc {
    margin-top: 42px;
}

footer .item {
    margin-top: 18px;
}

footer .item a,
footer .desc {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

footer .desc {
    white-space: normal;
    line-height: 1.75;
}

footer .social {
    display: flex;
    margin-top: 20px;
}

footer .social-link img {
    width: 27px;
    height: 27px
}

footer .social-link + .social-link {
    margin-left: 12px;
}

footer .row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}

footer .logo {
    font-size: 3rem;
}

footer .copyright {
    color: #c2c2c2;
    font-size: 1.6rem;
    font-weight: 400;
}

