<div class="content">
    <div class="row row-top">
        <!-- Product column -->
        <div class="column">
            <!-- vì xét góc độ làm SEO thì nó sẽ đánh giá nội dung theo cấp bậc thẻ h 
            nên để nhấn mạnh nội dung h2 thì để thẻ này là h3 -->
            <h3 class="heading">Product</h3>
            <ul class="list">
                <li class="item">
                    <a href="">Listing</a>
                </li>
                <li class="item">
                    <a href="">Property</a>
                </li>
                <li class="item">
                    <a href="">Agents</a>
                </li>
                <li class="item">
                    <a href="">Blog</a>
                </li>
            </ul>
        </div>
        <!-- Resources column -->
        <div class="column">
            <h3 class="heading">Resources</h3>
            <ul class="list">
                <li class="item">
                    <a href="">Blog</a>
                </li>
                <li class="item">
                    <a href="">Customer Stories</a>
                </li>
                <li class="item">
                    <a href="">Partners</a>
                </li>
                <li class="item">
                    <a href="">Integrations</a>
                </li>
            </ul>
        </div>
        <!-- Company column -->
        <div class="column">
            <h3 class="heading">Company</h3>
            <ul class="list">
                <li class="item">
                    <a href="">Patnerships</a>
                </li>
                <li class="item">
                    <a href="">Terms of use</a>
                </li>
                <li class="item">
                    <a href="">Privacy</a>
                </li>
                <li class="item">
                    <a href="">Sitemap</a>
                </li>
            </ul>
        </div>
        <!-- Get in touch column -->
        <div class="column">
            <h3 class="heading">Get in touch</h3>
            <p class="desc">
                Bạn sẽ là người dẫn đầu bằng trang web của chúng tôi.
            </p>
            <div class="social">
                <a href="" class="social-link">
                    <img src="assets/icons/icons8-facebook.svg" alt="" />
                </a>
                <a href="" class="social-link">
                    <img src="assets/icons/twitter.svg" alt="" />
                </a>
                <a href="" class="social-link">
                    <img src="assets/icons/linkedin.svg" alt="" />
                </a>
                <a href="" class="social-link"
                    ><img src="assets/icons/instagram.svg" alt=""
                /></a>
                <a href="" class="social-link"
                    ><img src="assets/icons/icons8-github.svg" alt=""
                /></a>
            </div>
        </div>
    </div>
    <div class="row row-bottom">
        <a href="" class="logo">CodemeM</a>
        <p class="copyright">Copyright © 2024 Minh Nhựt và Bá Tân</p>
    </div>
</div>
