<div class="content">
    <nav class="navbar">
        <span class="toggle-menu">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
            >
                <path
                    d="M18 4.5H6"
                    stroke="#f7f8fa"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M18 12H6"
                    stroke="#f7f8fa"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M11 19H6"
                    stroke="#f7f8fa"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </span>
        <a href="#" class="logo">CodemeM</a>
        <ul class="pc-nav">
            <li data-link="home" class="home"><a>Home</a></li>
            <li data-link="roadmap" class="roadmap"><a href="roadmap.html">Roadmap</a></li>
            <li data-link="practice" class="practice"><a>Practice</a></li>
            <li data-link="blog" class="blog"><a>Blog</a></li>
            <li class="show-on-mobile separate">
                <a href="#!">Sign in</a>
            </li>
            <li class="show-on-mobile"><a href="#!">Sign up</a></li>
        </ul>
        <div class="actions">
            <a class="premium"><i class="fa-solid fa-crown"></i></a>
            <a href="#!" class="action-link">Sign in</a>
            <a href="#!" class="btn action-btn">Sign up</a>
        </div>
    </nav>
</div>

<header class="mobile-header">
    <!-- Overlay -->
    <div for="menu-checkbox" class="menu-overlay"></div>

    <!-- Menu content -->
    <div class="menu-drawer">
        <!-- Logo -->
        <div class="row">
            <a href="#" class="logo">CodemeM</a>
            <span class="btn-close">
                <i class="fa-solid fa-xmark"></i>
            </span>
        </div>

        <!-- Navigation -->
        <ul class="mobile-nav"></ul>
        
    </div>
</header>
