<div class="content">
    <nav class="navbar">
        <span class="toggle-menu">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
            >
                <path
                    d="M18 4.5H6"
                    stroke="#f7f8fa"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M18 12H6"
                    stroke="#f7f8fa"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M11 19H6"
                    stroke="#f7f8fa"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </span>
        <a href="index.html" class="logo">CodemeM</a>
        <ul class="pc-nav">
            <li class="home"><a href="home.html">Home</a></li>
            <li class="roadmap"><a href="roadmap.html">Roadmap</a></li>
            <li class="practice"><a href="practice.html">Practice</a></li>
            <li class="blog"><a href="Bloglandingpage.html">Blog</a></li>
            <li class="show-on-mobile separate">
                <a href="Login.html?form=signIn" class =sign>Sign in</a>
            </li>
            <li class="show-on-mobile"><a class="sign" href="Login.html?form=signUp">Sign up</a></li>
        </ul>
        <div class="actions">
            <a class="premium"><i class="fa-solid fa-crown"></i></a>
            <a href="Login.html?form=signIn" class="action-link">Sign in</a>
            <a href="Login.html?form=signUp" class="btn action-btn">Sign up</a>
            <!-- <div class="wrap-userLog">
                <img
                    style="width: 40px"
                    class="avatar-user-afterLog"
                    src="./assets/img/default_avatar.jpg"
                    alt=""
                />
                <img src="./assets/icons/crown-gold.svg" alt="" class="premium-acc">
            </div> -->
        </div>
    </nav>
</div>

<header class="mobile-header">
    <!-- Overlay -->
    <div for="menu-checkbox" class="menu-overlay"></div>

    <!-- Menu content -->
    <div class="menu-drawer">
        <!-- Logo -->
        <div class="row">
            <a href="#" class="logo">CodemeM</a>
            <span class="btn-close">
                <i class="fa-solid fa-xmark"></i>
            </span>
        </div>

        <!-- Navigation -->
        <ul class="mobile-nav"></ul>
    </div>
</header>
